*{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #000000;
	color: #ABABAB;
}

.navbar {
	background-color: #462836;
}

#description{
	font-size: 1.2em;
	background-color: #462836;
	padding-bottom: 0.5em;
}
.center-text{
  text-align: center;
}

.big-photo{
	height: 40vw;
}

footer{
	background-color: #462836;
}

.color-primario{
	background-color: #462836;
}

.scrollUp{
	cursor: pointer;
	color: #ABABAB;
	font-size: 6vw;
	position: fixed;
	z-index: 1;
	border: none;
	background-color: transparent;
	border-radius: 100%;
	left: 90vw;
	top: 90vh;
}

#fake-story{
	padding-top: 1vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.see{
	background-color: red;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.big-photo{
		height: 30vw;
	}

	.scrollUp{
		font-size: 4vw;
	}
}

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.big-photo{
		height: 20vw;
	}
}

/*/ Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
